#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

ifeq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
 BUILD_MODE = Release
else
 BUILD_MODE = Debug
endif

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# specify SONAME version of libtgvoip
export SOVER = 1.0

# Workaround for hurd, see bugs.debian.org/799356
ifeq ($(DEB_HOST_ARCH),hurd-i386)
 EXTRA_GYP_FLAGS += --no-parallel
endif

%:
	dh $@ --sourcedirectory=obj-$(DEB_HOST_GNU_TYPE)/$(BUILD_MODE)

override_dh_auto_configure:
	gyp --format=cmake --depth=. --generator-output=. -Gconfig=$(BUILD_MODE) \
		-Goutput_dir=obj-$(DEB_HOST_GNU_TYPE) libtgvoip.gyp $(EXTRA_GYP_FLAGS)
	dh_auto_configure

override_dh_auto_install:
	mkdir -p debian/libtgvoip$(SOVER)/usr/lib/$(DEB_HOST_MULTIARCH)
	ln obj-*/lib.target/lib*.so.* \
		debian/libtgvoip$(SOVER)/usr/lib/$(DEB_HOST_MULTIARCH)
	mkdir -p debian/libtgvoip-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	ln -s libtgvoip.so.$(SOVER) \
		debian/libtgvoip-dev/usr/lib/$(DEB_HOST_MULTIARCH)/libtgvoip.so
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean || dh_auto_clean --sourcedirectory=$(CURDIR)

# Upstream does not provide a tarball
get-orig-source:
	git clone --depth=1 https://github.com/grishka/libtgvoip
	tar --exclude-vcs -cJf ../libtgvoip_$(SOVER)~git$$(cd libtgvoip && \
		git log -1 --date="format:%Y%m%d" --format="%cd.%h").orig.tar.xz \
		libtgvoip
	rm -rf libtgvoip
